{% extends 'base.html' %}

{% block body %}

<div class="max-w-full mx-0 py-6 px-0 sm:px-6 lg:px-8 bg-gray-800">
    <h1 class="text-6xl font-bold text-white font-cursive text-center"
        style="margin-top: 50px; margin-bottom: 5px; font-family: 'Nova';">Meet Our Devs!!!</h1>
    <p class="text-xl text-gray-400 italic font-cursive text-center"
        style="margin-top: 5px; margin-bottom: 50px; font-family: 'Nova';">Shivam Ghaware</p>
    <div class="bg-gray-200 py-8 my-10 rounded-lg shadow-md">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="p-6 text-gray-800">
                <p>
                    Hello, I'm shivam, and I'm privileged to be a part of the team behind this flavorful recipe blog.
                    As a dedicated developer, I'm passionate about infusing technology and innovation into our culinary
                    world, ensuring a delightful and seamless browsing experience for all our visitors.
                </p>
                <br>
                <p>
                    With a strong foundation in web development, I specialize in crafting and maintaining the technical
                    aspects that power this platform. My mission is to create an efficient, user-friendly, and visually
                    appealing environment that complements the mouthwatering recipes you'll find here.
                </p>
                <br>
            </div>
        </div>
    </div>


    <div class="flex items-center justify-center space-x-4" style="margin-bottom: 50px; margin-top: 50px;">
        <a href="https://www.linkedin.com/in/shivamghaware" target="_blank"
            class="text-gray-500 hover:text-gray-700">
            <img src="/static/images/linked_in.png" alt="LinkendIn Logo" class="h-12">
        </a>

        <a href="https://www.instagram.com/" target="_blank"
            class="text-gray-500 hover:text-gray-700">
            <img src="/static/images/insta_logo.png" alt="Instagram Logo" class="h-12">
        </a>

        <a href="https://twitter.com/" target="_blank"
            class="text-gray-500 hover:text-gray-700">
            <img src="/static/images/twitter_logo.png" alt="Twitter Logo" class="h-12">
        </a>

        <a href="mailto:shivamghaware3@gmail.com" target="_blank" class="text-gray-500 hover:text-gray-700">
            <img src="/static/images/gmail_logo.png" alt="Gmail Logo" class="h-12">
        </a>

    </div>

</div>

{% endblock %}